@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("/fonts/FernVariable-Roman-VF.woff2") format("woff2");
  font-family: "Fern Web";
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
}

@font-face {
  src: url("/fonts/FernVariable-Italic-VF.woff2") format("woff2");
  font-family: "Fern Web";
  font-style: italic;
  font-weight: 400 800;
  font-display: swap;
}

:root {
  --black: hsl(100, 30%, 6%);
  --black-subtle: hsl(100, 30%, 10%);
  --white: hsl(35, 30%, 94%);
  --white-subtle: hsl(35, 30%, 88%);
  --primary-light: hsl(100, 50%, 25%);
  --primary-dark: hsl(100, 50%, 55%);
  --accent-light: hsl(35, 85%, 35%);
  --accent-dark: hsl(35, 85%, 65%);
}

html {
  font-family: "Fern Web", Georgia, "Times New Roman", Times, serif;
  --bg: var(--white);
  --bg-subtle: var(--white-subtle);
  --text: var(--black);
  --text-subtle: var(--black-subtle);
  --primary: var(--primary-light);
  --accent: var(--accent-light);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: var(--black);
    --bg-subtle: var(--black-subtle);
    --text: var(--white);
    --text-subtle: var(--white-subtle);
    --primary: var(--primary-dark);
    --accent: var(--accent-dark);
  }
}

@layer base {
  a {
    @apply small-caps hover:transition-colors hover:text-accent focus:outline-none focus:text-accent focus:ring-2 focus:ring-current rounded-sm;
  }
}

@layer utilities {
  .small-caps {
    font-variant-caps: all-small-caps;
  }
  .not-small-caps {
    font-variant-caps: normal;
  }
  .text-small {
    @apply text-base md:text-lg lg:text-xl;
  }
  .text-medium {
    @apply text-lg md:text-xl lg:text-2xl;
  }
  .text-large {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
}

@layer components {
  hr {
    /* height should be the same as the line-height */
    @apply border-none relative h-7 lg:h-8;
  }
  hr::before {
    @apply absolute right-0 left-0 text-center text-primary;
    content: "☙❧";
  }
  .footnotes {
    @apply flex flex-col gap-8 my-16 text-small;
  }
}
