:root {
  --black: hsl(100, 30%, 6%);
  --white: hsl(35, 30%, 94%);
  --primary-light: hsl(100, 50%, 25%);
  --primary-dark: hsl(100, 50%, 55%);
  --accent-light: hsl(35, 85%, 35%);
  --accent-dark: hsl(35, 85%, 65%);
}

html {
  --bg: var(--white);
  --text: var(--black);
  --primary: var(--primary-light);
  --accent: var(--accent-light);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: var(--black);
    --text: var(--white);
    --primary: var(--primary-dark);
    --accent: var(--accent-dark);
  }
}
