/**
 * Whostyle for robinmetral.com
 * See https://www.kickscondor.com/whostyles/
 **/

.whostyle {
  font-family: "Bookman Old Style", "Bookman", "Palatino", "serif";
  padding: 20px;
  color: hsl(100, 30%, 6%);
  background-color: hsl(35, 30%, 94%);
  border: 1px solid currentColor;
  font-size: 18px;
  line-height: 28px;
}

.whostyle * {
  margin: 0 0 20px 0;
}

.whostyle a {
  color: inherit;
  text-decoration: underline; /* to undo any reset */
}

.whostyle a:hover {
  transition: color 150ms ease-in-out;
  color: hsl(35, 85%, 35%);
}

.whostyle a:focus {
  color: hsl(35, 85%, 35%);
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: hsl(35, 85%, 35%) 0px 0px 0px 2px;
  border-radius: 0.125rem;
}

.whostyle h1,
.whostyle h2,
.whostyle h3 {
  font-weight: normal;
}

.whostyle blockquote {
  border-left: 2px solid currentColor;
  padding-left: 20px;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  .whostyle {
    color: hsl(35, 30%, 94%);
    background-color: hsl(100, 30%, 6%);
  }
  .whostyle a:hover {
    color: hsl(35, 85%, 65%);
  }
  .whostyle a:focus {
    color: hsl(35, 85%, 65%);
    box-shadow: hsl(35, 85%, 65%) 0px 0px 0px 2px;
  }
}
