/**
 * Whostyle for robinmetral.com
 * See https://www.kickscondor.com/whostyles/
 **/

:root {
  --black: hsl(100, 30%, 6%);
  --white: hsl(35, 30%, 94%);
  --primary-light: hsl(100, 50%, 25%);
  --primary-dark: hsl(100, 50%, 55%);
  --accent-light: hsl(35, 85%, 35%);
  --accent-dark: hsl(35, 85%, 65%);
}

html {
  --bg: var(--white);
  --text: var(--black);
  --primary: var(--primary-light);
  --accent: var(--accent-light);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: var(--black);
    --text: var(--white);
    --primary: var(--primary-dark);
    --accent: var(--accent-dark);
  }
}

.whostyle {
  font-family: "Bookman Old Style", "Bookman", "Palatino", "serif";
  padding: 20px;
  color: var(--text);
  background-color: var(--bg);
  border: 1px solid currentColor;
  font-size: 18px;
  line-height: 28px;
}

.whostyle * {
  margin: 0;
}

.whostyle *:not(:last-child) {
  margin-bottom: 20px;
}

.whostyle a {
  color: inherit;
  text-decoration: underline; /* to undo any reset */
}

.whostyle a:hover {
  transition: color 150ms ease-in-out;
  color: var(--accent);
}

.whostyle a:focus {
  color: var(--accent);
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: currentColor 0px 0px 0px 2px;
  border-radius: 0.125rem;
}

.whostyle h1,
.whostyle h2,
.whostyle h3 {
  font-weight: normal;
}

.whostyle blockquote {
  border-left: 2px solid currentColor;
  padding-left: 20px;
  font-style: italic;
}
