.whostyle {
  font-family: "Bookman Old Style", "Bookman", "Palatino", "serif";
  padding: 15px 25px;
  color: hsl(100, 30%, 6%);
  background-color: hsl(35, 30%, 94%);
  font-size: 18px;
  line-height: 28px;
}

.whostyle a {
  color: inherit;
  text-decoration: underline; /* to undo any reset */
}

.whostyle a:hover {
  transition: color 150ms ease-in-out;
  color: hsl(35, 85%, 35%);
}

.whostyle a:focus {
  color: hsl(35, 85%, 35%);
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: hsl(35, 85%, 35%) 0px 0px 0px 2px;
  border-radius: 0.125rem;
}

@media (min-width: 768px) {
  .whostyle {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (prefers-color-scheme: dark) {
  .whostyle {
    color: hsl(35, 30%, 94%);
    background-color: hsl(100, 30%, 6%);
  }
  .whostyle a:hover {
    color: hsl(35, 85%, 65%);
  }
  .whostyle a:focus {
    color: hsl(35, 85%, 65%);
    box-shadow: hsl(35, 85%, 65%) 0px 0px 0px 2px;
  }
}
