---
import Page from "../layouts/Page.astro";
---

<style>
p {
    margin-bottom: 2rem;
}
h1 {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  h1 {
    margin-bottom: 4rem;
  }
}
</style>

<Page>
  <h1 class="text-large">
    404
  </h1>
  <section>
    <p>There is no page here. (Did you find a broken link? Please <a id="contact">let me know</a>!)</p>
    <p><a href="/">Go back home.</a></p>
  </section>
  <script type="text/javascript" slot="script">
    const contactEl = document.getElementById("contact");
    const currentLocation = window.location.href;
    contactEl.href = `mailto:robin@metral.ch?subject=Broken%20link&body=URL:%20${currentLocation}`;
  </script>
</Page>
