---
import Page from '../layouts/Page.astro';
---

<Page title="Now" description="What Robin is doing these days">
  <h1 class="text-2xl md:text-3xl lg:text-4xl mb-4 md:mb-8 mt-8 md:mt-16">
    Now
  </h1>
  <p class="mb-8 italic">This is a <a href="https://nownownow.com/about" class="link font-small-caps">/now page</a>. It's like an About page, but instead of telling you my background and life story, it tells you what I'm focused on right now. <a href="https://nownownow.com/about" class="link font-small-caps">You can make one too</a>.</p>
  <p class="mb-8">At the moment, I...</p>
  <ul class="list-disc list-inside mb-8">
    <li>live in Berlin, Germany since 2019</li>
    <li>work as a software engineer at <a href="https://sumup.com" class="link font-small-caps">SumUp</a> in the web platform team</li>
    <li>go bouldering at least three times per week</li>
    <li>bake sourdough bread with a 155-year-old starter named Cornelius</li>
  </ul>
</Page>
