---
import Page from '../layouts/Page.astro';
import Heading from '../components/Heading.astro';
---

<style>
/* Copying TW classes here for now, but they should be a global utils */
.mb-8 {
  margin-bottom: 2rem;
}
.italic {
  font-style: italic;
}
ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
</style>

<Page title="Now" description="What Robin is doing these days">
  <Heading title="Now" />
  <p class="italic mb-8">This is a /now page. It's like an about page, but focusing on what I'm doing right now. <a href="https://nownownow.com/about">You can make one too</a>.</p>
  <hr class="mb-8" />
  <p class="mb-8">At the moment, I...</p>
  <ul class="mb-8">
    <li>go bouldering at least three times per week</li>
    <li>bake sourdough bread with a 155-year-old starter named Cornelius</li>
    <li>enjoy building this website with <a href="https://astro.build">Astro</a></li>
    <li>work as a software engineer at <a href="https://sumup.com">SumUp</a> in the web platform team</li>
    <li>live in Berlin, Germany since 2019</li>
  </ul>
  <p class="italic mb-8">Last updated on September 6th, 2021</p>
</Page>
