---
import Page from '../layouts/Page.astro';
---

<Page title="Now" description="What Robin is doing these days">
  <h1 class="text-large mb-4 md:mb-8 mt-8 md:mt-16">
    Now
  </h1>
  <p class="mb-8 italic">This is my <a href="https://nownownow.com/about">/now page</a>. It's like an About page, but instead of telling you my background and life story, it tells you what I'm focused on right now. <a href="https://nownownow.com/about">You can make one too</a>.</p>
  <hr />
  <p class="mb-8">At the moment, I...</p>
  <ul class="list-disc ml-4 mb-8">
    <li>live in Berlin, Germany since 2019</li>
    <li>work as a software engineer at <a href="https://sumup.com">SumUp</a> in the web platform team</li>
    <li>go bouldering at least three times per week</li>
    <li>bake sourdough bread with a 155-year-old starter named Cornelius</li>
    <li>build my new website with <a href="https://astro.build">Astro</a></li>
  </ul>
  <p class="mb-8 italic">Last updated on August 21st, 2021</p>
</Page>
