---
import Page from "../layouts/Page.astro";
---

<style>
p {
    margin-bottom: 2rem;
}
h1 {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  h1 {
    margin-bottom: 4rem;
  }
}
</style>

<Page>
  <h1 class="text-large">
    Watching
  </h1>
  <section>
    <p>I mostly watch movies on <a href="https://mubi.com/t/web/global/ty2TYanZ">MUBI</a> (referral link), and I really recommend it!</p>
  </section>
  <div id="watching" /> <!-- data viz goes here -->
  <script type="module" slot="script" src="/scripts/watching/index.js"></script>
</Page>
