---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<style>
h1 {
  margin: 2rem 0 1rem;
}
@media (min-width: 768px) {
  h1 {
    margin: 4rem 0 2rem;
  }
}
</style>

<h1 class="text-large">
  {title}
</h1>
