.markdown > * {
  margin-bottom: 2rem;
}

.markdown blockquote {
  border-left: 2px solid var(--text);
  padding-left: 1.5rem;
  font-style: italic;
}

.markdown :global(.footnotes) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem 0;
}

.markdown :global(.footnotes) ol {
  list-style-type: decimal;
  list-style-position: inside;
}
