<style>
a {
  text-decoration: none;
}
header {
  padding: 1rem;
}
@media (min-width: 1024px) {
  header {
   padding: 1.5rem;
  }
}
nav ul {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 0px;
}
.skip {
  display: block;
  position: absolute;
  padding: 4px 8px;
  left: 12px;
  top: 8px;
  transform: translateY(calc(-100% - 16px));
  background: var(--bg);
}
.skip:focus {
  transform: translateY(0);
  transition: transform .2s ease-in-out;
}
</style>

<header>
  <a href="#main" class="skip">Skip to main content</a>
  <nav>
    <ul role="list">
      <li><a href="/">Home</a></li>
      <li><a href="/notes">Notes</a></li>
    </ul>
  </nav>
</header>
