@import "/styles/normalize.css";
@import "/styles/prism.css"; /* TODO only import on post pages */

/* Colors */

:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --accent-light: blue;
  --accent-dark: lightskyblue;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --bg: var(--white);
  --text: var(--black);
  --accent: var(--accent-light);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: var(--black);
    --text: var(--white);
    --accent: var(--accent-dark);
  }
}

/* Components */

a {
  color: var(--accent);
}
a:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: currentColor 0px 0px 0px 2px;
  border-radius: 4px;
}

blockquote {
  border-left: 2px solid currentColor;
  padding-left: 16px;
  font-style: italic;
}

/* Accessibility */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
