@import "/styles/normalize.css";
@import "/styles/prism.css"; /* TODO only import on post pages */

@font-face {
  src: url("/fonts/FernVariable-Roman-VF.woff2") format("woff2");
  font-family: "Fern Web";
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
}

@font-face {
  src: url("/fonts/FernVariable-Italic-VF.woff2") format("woff2");
  font-family: "Fern Web";
  font-style: italic;
  font-weight: 400 800;
  font-display: swap;
}

:root {
  --black: hsl(100, 30%, 6%);
  --white: hsl(35, 30%, 94%);
  --primary-light: hsl(100, 50%, 25%);
  --primary-dark: hsl(100, 50%, 55%);
  --accent-light: hsl(35, 85%, 35%);
  --accent-dark: hsl(35, 85%, 65%);
}

html {
  font-family: "Fern Web", Georgia, "Times New Roman", Times, serif;
  --bg: var(--white);
  --text: var(--black);
  --primary: var(--primary-light);
  --accent: var(--accent-light);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: var(--black);
    --text: var(--white);
    --primary: var(--primary-dark);
    --accent: var(--accent-dark);
  }
}

/* Typography */

.text-small {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-medium {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-large {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .text-small {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .text-medium {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .text-large {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .text-small {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .text-medium {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .text-large {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.small-caps {
  font-variant-caps: all-small-caps;
}
.not-small-caps {
  font-variant-caps: normal;
}

strong {
  font-weight: 800;
}

/* Links */

a:hover {
  transition: color 150ms ease-in-out;
  color: var(--accent);
}

a:focus {
  color: var(--accent);
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: var(--accent) 0px 0px 0px 2px;
  border-radius: 0.125rem;
}

/* Separators */

hr {
  border: none;
  position: relative;
  height: 1.5rem;
}

@media (min-width: 768px) {
  hr {
    height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  hr {
    height: 2rem;
  }
}

hr::before {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  color: var(--primary);
  content: "☙❧";
}

/* Accessibility */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
