---
import BaseHead, { Props } from '../components/BaseHead.astro';

const { title, description } = Astro.props;
---

<html lang="en">
  <BaseHead title={title} description={description} />
  <body class="text-medium h-full bg-bg text-text">
    <header class="p-4 lg:p-6 bg-bg-subtle">
      <a href="#main" class="sr-only focus:not-sr-only text-large">Skip to main content</a>
      <nav>
        <ul class="flex gap-4 justify-center">
          <li><a href="/">Home</a></li>
          <li><a href="/now">Now</a></li>
          <li><a href="/notes">Notes</a></li>
        </ul>
      </nav>
    </header>
    <main class="max-w-3xl w-full px-4 mx-auto" id="main">
      <slot />
    </main>
    <slot name="script" />
  </body>
</html>
