---
import Page from './Page.astro';

const { content } = Astro.props;
const { title, description, publishDate } = content;
---

<Page title={title} description={description}>
  <header class="flex flex-col-reverse gap-2 mb-8 md:mb-16 xl:my-24 xl:-mx-32">
    <h1 class="text-large text-primary">{title}</h1>
    <p class="small-caps text-text-subtle text-small"><span class="sr-only">Published on</span> <time datetime={publishDate}>{new Date(publishDate).toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</time></p>
  </header>
  <article class="prose prose-lg md:prose-xl lg:prose-2xl max-w-none">
    <slot />
  </article>
</Page>
